# on python 3.8.10
tweepy[async]
snscrape
pandas
numpy
python-dotenv
emoji
torch 
pytorch-nlp
tqdm
transformers
torchmetrics
datasets
ipywidgets
openpyxl
git+https://github.com/kaenova/NDETCStemmer.git@master