# on python 3.8.10
tweepy[async]
snscrape
pandas
numpy
python-dotenv
emoji
torch 
pytorch-nlp
tqdm
transformers
torchmetrics
datasets
ipywidgets
openpyxl
matplotlib
scikit-learn
lightning
tensorboard
jupyterlab
ipywidgets
jupyterlab-lsp
python-lsp-server[all]
python-dotenv
boto3
botocore
minio
git+https://github.com/kaenova/NDETCStemmer.git@master
